@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: #fff;
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.movie {
  width: 300px;
  background-color: transparent;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgpa(0, 0, 0, 0.1);
  margin: 1rem;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.movie img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  background-color: white;
  border-top-left-radius: 3px ;
  border-top-right-radius: 3px ;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  color: #22254b;
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  transform: rotateY(180deg);
  
  
}
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.movie:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #22254b;
  font-size: 1.2rem;  
  padding: 0.5rem 0.5rem;
}